<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElanTimer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElanTimer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ElanTimer.My.MySettings>
      <setting name="DefaultTaskFile" serializeAs="String">
        <value>_tasks</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAutomaticUpdateChecking" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="NumberOfDaysBetweenUpdateChecks" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="OpacityLevel" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DefaultStyleFile" serializeAs="String">
        <value>_style</value>
      </setting>
      <setting name="DefaultTimeFile" serializeAs="String">
        <value>_timer</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>290, 145</value>
      </setting>
      <setting name="WindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowFullScreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LookFolder" serializeAs="String">
        <value>Styles</value>
      </setting>
      <setting name="TaskFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="TimeFolder" serializeAs="String">
        <value>Timers</value>
      </setting>
      <setting name="EnableDocumentsDataFolder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlarmFolder" serializeAs="String">
        <value>Alarms</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
      <setting name="CloseToSystemTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNoteAlertWhenTimerExpires" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowInSystemTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClickingTrayIconStopsAlarm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataFolder" serializeAs="String">
        <value>Data</value>
      </setting>
    </ElanTimer.My.MySettings>
  </userSettings>
  <applicationSettings>
    <ElanTimer.My.MySettings>
      <setting name="TimeDialogFilter" serializeAs="String">
        <value>Time Files (*.time)|*.time</value>
      </setting>
      <setting name="TaskDialogFilter" serializeAs="String">
        <value>Task Files (*.task)|*.task</value>
      </setting>
      <setting name="AlarmDialogFilter" serializeAs="String">
        <value>Audio Files (*.wav; *.wave)|*.wav; *.wave</value>
      </setting>
      <setting name="DefaultWindowSize" serializeAs="String">
        <value>417, 208</value>
      </setting>
      <setting name="DefaultCompactWindowWidth" serializeAs="String">
        <value>290</value>
      </setting>
      <setting name="LookDialogFilter" serializeAs="String">
        <value>Style Files (*.look)|*.look</value>
      </setting>
      <setting name="DefaultFont" serializeAs="String">
        <value>Calibri, 24pt, style=Bold</value>
      </setting>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="TimeFileExtension" serializeAs="String">
        <value>.time</value>
      </setting>
      <setting name="TaskFileExtension" serializeAs="String">
        <value>.task</value>
      </setting>
      <setting name="StyleFileExtension" serializeAs="String">
        <value>.look</value>
      </setting>
    </ElanTimer.My.MySettings>
  </applicationSettings>
</configuration>
